<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BlogCentral-Bootstrap template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Ahoi sailor!</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/login">Log in </a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register as new Author</a></li>
                <li class="nav-item"><a class="nav-link" href="/search">Search in blog descriptions</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>


            </ul>
        </div>
    </div>

</nav>
<!-- Page header with logo and tagline-->
<header class="py-0 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h2 class="fw-bolder">The Marujo HyperBlog</h2>
            <p class="lead mb-0">Below are the details of the post you selected.</p>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">

    <div class="row">
        <!-- Container for the main content -->
        <div class="col-lg-8">
            <h3>Post</h3>
            <!-- Display the post -->
            <div class="post-card p-3 mb-3 border rounded shadow-sm">

                <h3 th:text="${post.title}"></h3>   <!-- Title of the post -->
                <h4 th:text="${post.description}"></h4>   <!-- Description of the post -->
                <img th:src="@{'/uploads/' + ${post.postPhoto}}" class="img-fluid"
                     alt="Post Image">

                <p class="text-muted"> Created by: <span th:text="${post.getUser().getUsername()}"></span> On:  <span th:text="${#dates.format(post.createdAt, 'dd-MM-yyyy HH:mm')}"></span>
                </p>
                <p th:if="${post.updatedAt ne post.createdAt}" class="text-muted"> Last updated on: <span
                        th:text="${#dates.format(post.updatedAt, 'dd-MM-yyyy HH:mm')}"></span></p> <!-- If the post was updated, display the updated date -->
                <p class="text"> Content: <span th:text="${post.content}"></span>
                </p>
            <!-- Buttons to edit post, delete post using @GetMapping("/updatePost/{id}" and @PostMapping("/updatePost/{id}")-->
            <div class="mt-3">
                <a class="btn btn-primary" href="javascript:history.back()">Back to overview</a>

                <!-- edit button goes to page show form with the current post, and a submit button-->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editPostModal">
                    Edit Post
                </button>

                <form th:action="@{'/deletePost/' + ${post.getId()}}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

            </div>
            </div>
            <!-- The Modal -->
            <div class="modal" id="editPostModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Post</h4>
                            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form th:action="@{/saveUpdatedPost/{id}(id=${post.id})}" th:object="${post}" method="post">
                                <div class="form-group">
                                    <label for="title">Image:</label>
                                    <input type="text" class="form-control" id="title" th:field="*{title}">
                                </div>
                                <div class="form-group">
                                    <label for="title">Title:</label>
                                    <input type="text" class="form-control" id="title" th:field="*{title}">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <input type="text" class="form-control" id="description" th:field="*{description}">
                                </div>
                                <div class="form-group">
                                    <label for="content">Content:</label>
                                    <textarea class="form-control" id="content" th:field="*{content}"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Display all the comments -->
            <div class="post-card p-3 mb-3 border rounded shadow-sm">
                <h3>Comments</h3>
                <!-- Content of the comment -->

                   <div th:each="comment : ${commentList}" class="comment-card p-3 mb-3 border rounded shadow-sm">
                    <p th:text="${comment.getText()}"></p>
                    <!-- Display the author of the comment -->
                    <p class="text-muted text-right">Comment by: <span th:text="${comment.user.username}"></span></p>
                    <p class="text-muted text-right"> Added on: <span th:text="${#dates.format(comment.updatedAt, 'dd-MM-yyyy HH:mm')}"></span></p>

                       <!--button to delete the comment-->
                       <form th:action="@{'/deleteComment/' + ${post.getId()}+'/'+${comment.getId()}}" method="post" style="display:inline;">
                           <button type="submit" class="btn btn-primary">Delete</button>
                       </form>

                   </div>

                <!-- Buttons to edit, delete, and view comments for the post -->


                <div class="mt-3">
                    <!-- <a class="btn btn-primary" th:href="@{'/createPost/' + ${post.id}}">Create</a> -->
                    <div>
                        <h3>Add a Comment</h3>

                        <form th:action="@{/blog_post/{blogpostId}/blog_comment(blogpostId=${post.id})}" th:object="${newComment}" method="post">

                            <textarea th:field="*{text}" placeholder="Write your comment here"></textarea>

                            <button type="submit">Submit</button>
                        </form>
                    </div>





                </div>

            </div>
            <div th:if="${totalPages > 1}">
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a th:if="${currentPage > 1}" class="page-link" th:href="@{'/viewPost/' + ${post.id} + '?page=' + ${1}}">First</a>
                                </li>
                                <li class="page-item">
                                    <a th:if="${currentPage > 1}" class="page-link" th:href="@{'/viewPost/' + ${post.id} + '?page=' + ${currentPage - 1}}">Previous</a>
                                </li>
                                <li th:each="i:${#numbers.sequence(1, totalPages)}" class="page-item"
                                    th:classappend="${currentPage == i} ? 'active' : ''">
                                    <a class="page-link" th:if="${currentPage != i}" th:href="@{'/viewPost/' + ${post.id} + '?page=' + ${i}}"

                                       th:text="${i}"></a>
                                    <span class="page-link" th:unless="${currentPage != i}" th:text="${i}"></span>
                                </li>
                                <li class="page-item">
                                    <a th:if="${currentPage < totalPages}" class="page-link"
                                       th:href="@{'/viewPost/' + ${post.id} + '?page=' + ${currentPage + 1}}">Next</a>
                                </li>
                                <li class="page-item">

                                    <a th:if="${currentPage < totalPages}" class="page-link" th:href="@{'/viewPost/' + ${post.id} + '?page=' + ${totalPages}}">Last</a>

                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>

            </div>

        </div>

        <!-- Side widgets-->
        <div class="col-md-4 sidebar-container">
            <div class="sidebar">
                <h4>Useful stuff</h4>



                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">

                        <div class="input-group">

                            <form action="/sendSearchString" method="get">
                                <input class="form-control" type="text" name="searchString" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                            </form>
                        </div>
                    </div>


                </div>
                <div class="card mb-4">
                    <div class="card-header">The Marujo community</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li>You are logged in as: httpSession.getAttribute('username')</li>
                                    <li><a href="#!">Number of visitors</a></li>
                                    <li><a href="#!">You are the nth visitor</a></li>
                                </ul>
                            </div>

                            <!-- Add more links as needed -->
                        </div>
                    </div>

                </div>
            </div>
            <!-- Footer-->
            <footer class="py-5 bg-dark">

                <div class="container"><p class="m-0 text-center text-white">Copyright &copy;  Intec Java Class of '23</p></div>
            </footer>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

            <!-- Core theme JS-->
            <script src="js/scripts.js"></script>
        </div>
    </div>
</div>

</body>
</html>
