<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts and Comments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PostManagementSystem</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active"
                                        aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link active"
                                        aria-current="page" href="/showNewPostForm">Create Post</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Container for the main content -->
<div class="container mt-4">
    <h1>Posts</h1>
    <!-- Loop through each post in the postList and display it -->
    <div th:each="post : ${postList}" class="post-card p-3 mb-3 border rounded shadow-sm">
        <h2 th:text="${post.title}"></h2>
        <p class="text-muted"> Created at: <span th:text="${#dates.format(post.createdAt, 'dd-MM-yyyy HH:mm')}"></span>
        </p>
        <!-- If the post was updated, display the updated date -->
        <p th:if="${post.updatedAt ne post.createdAt}" class="text-muted"> Updated at: <span
                th:text="${#dates.format(post.updatedAt, 'dd-MM-yyyy HH:mm')}"></span></p>
        <p th:text="${post.description}"></p>
        <div th:text="${post.content}"></div>
        <!-- Buttons to edit, delete, and view comments for the post -->
        <div class="mt-3">
            <a class="btn btn-primary" th:href="@{'/updatePost/' + ${post.id}}">Edit</a>
            <a class="btn btn-danger" th:href="@{'/deletePost/' + ${post.id}}">Delete</a>
            <a class="btn btn-secondary" th:href="@{'/posts/' + ${post.id} + '/comments'}">View Comments</a>
        </div>
    </div>
</div>

<!-- Pagination controls, displayed only if there are multiple pages -->
<div th:if="${totalPages > 1}">
    <div class="row mt-4">
        <div class="col-sm-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a th:if="${currentPage > 1}" class="page-link" th:href="@{'/page/' + ${1}}">First</a>
                    </li>
                    <li class="page-item">
                        <a th:if="${currentPage > 1}" class="page-link" th:href="@{'/page/' + ${currentPage - 1}}">Previous</a>
                    </li>
                    <li th:each="i:${#numbers.sequence(1, totalPages)}" class="page-item"
                        th:classappend="${currentPage == i} ? 'active' : ''">
                        <a class="page-link" th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}"
                           th:text="${i}"></a>
                        <span class="page-link" th:unless="${currentPage != i}" th:text="${i}"></span>
                    </li>
                    <li class="page-item">
                        <a th:if="${currentPage < totalPages}" class="page-link"
                           th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                    </li>
                    <li class="page-item">
                        <a th:if="${currentPage < totalPages}" class="page-link" th:href="@{'/page/' + ${totalPages}}">Last</a>
                    </li>
                </ul>
            </nav>
            <p class="mt-2">Total Posts: <span th:text="${totalItems}"></span></p>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-wEmeIV1mKuiNp12VjPWjQj0ecJW1p3Yu9HuoC8E1lboI41glY0XM86PQX5rs3Ofi"
        crossorigin="anonymous"></script>
<script>
    window.onload = function () {
        const urlParams = new URLSearchParams(window.location.search);
        const postId = urlParams.get('postId');
        if (postId) {
            const element = document.getElementById("post_" + postId);
            if (element) {
                element.scrollIntoView();
            }
        }
    };
</script>
</body>
</html>
